<div id="mainContainer">
    <div id="errorForm" v-if="errorForm !== null">
        <p>Le formulaire est invalide.</p>
        <p>{{errorForm}}</p>


        <MainButton
                :eventKey="'dismissModal'"
                :label="'Fermer'"
                @dismissModal="errorForm = null"
        />
    </div>
    <div class="actionContainer" v-if="!editMode">
        <input type="button" value="Retour" id="return" @click="goBack"/>
        <MainButton :label="'Editer'" :eventKey="'editEvent'" @editEvent="toggleEditMode(true)"/>
        <MainButton :label="'Supprimer'" :eventKey="'deleteEvent'" @deleteEvent="askForDeletion(element.reference)"/>
    </div>

    <div v-else class="actionContainer">
        <p class="actionItems" @click="validateChanges">
            Valider
            <br/>
            <br/>
            <font-awesome-icon icon="check"/>
        </p>
        <p class="actionItems" @click="toggleEditMode(false)">
            Annuler
            <br/>
            <br/>
            <font-awesome-icon icon="times"/>
        </p>
    </div>
    <div id="detailsContainer">
        <div class="valueContainer">
            <div class="headers" v-for="element in headerArray"><p id="label">{{element}}</p></div>
        </div>
        <div class="valueContainer">
            <div v-for="element, index in mDetails">
                <p v-if="!editMode || index === 'reference'">{{element}}</p>
                <input v-else v-model="mDetails[index]"/>
            </div>
        </div>
    </div>
</div>
