.data-list {

}
table, tr, td {
  border: 1px solid black;
  border-spacing: 0;
}

th, td, tr {
  //padding: 10px;
  text-align: center;
  min-width: 50px;
  //max-width: 250px;
  height: auto;
  //display
}

.headers{
  background-color: #4CAF50;
  color: white;
}

.searchFields{
  width: 100%;
}

#pageSelectorContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.inline{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  width: 35%;
  margin: auto;
}

#pageSelector {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 70px;
}

#results{

}

.results:nth-child(even) {background-color: #f2f2f2;}
.results:hover {background-color: #d6d6d6;}

.actionContainer{
  display:flex;
  flex-direction: row ;
  justify-content: space-around;
}

.actionItems{
  padding: 2px;
}
//responsive

@media all and (max-width: 980px){
  th, td, tr {
    background-color: #5b40ff;
  }
}
//
//@media all and (max-width: 230px) {
//
//}